In [1]:
import pandas as pd

In [3]:
pd.read_parquet("../feature_repo/data/driver_stats.parquet")

,event_timestamp,driver_id,conv_rate,acc_rate,avg_daily_trips,created
0,2024-07-30 08:00:00+00:00,1005,0.323633,0.241064,521,2024-08-14 08:57:08.217
1,2024-07-30 09:00:00+00:00,1005,0.265231,0.869575,779,2024-08-14 08:57:08.217
2,2024-07-30 10:00:00+00:00,1005,0.734315,0.122275,374,2024-08-14 08:57:08.217
3,2024-07-30 11:00:00+00:00,1005,0.044860,0.108464,714,2024-08-14 08:57:08.217
4,2024-07-30 12:00:00+00:00,1005,0.528886,0.921661,527,2024-08-14 08:57:08.217
...,...,...,...,...,...,...
1802,2024-08-14 06:00:00+00:00,1001,0.061003,0.426603,172,2024-08-14 08:57:08.217
1803,2024-08-14 07:00:00+00:00,1001,0.113299,0.105504,393,2024-08-14 08:57:08.217
1804,2021-04-12 07:00:00+00:00,1001,0.106754,0.121479,773,2024-08-14 08:57:08.217
1805,2024-08-06 20:00:00+00:00,1003,0.006870,0.256827,92,2024-08-14 08:57:08.217
1806,2024-08-06 20:00:00+00:00,1003,0.006870,0.256827,92,2024-08-14 08:57:08.217